@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Carousel</title>



    <link rel="stylesheet" href="~/Content/start_style.css">
    <link rel="stylesheet" href="~/Content/start_style.sass">

</head>
<body>

    <main>
        <div id="carousel">


            <div class="prev">
                <img src="Img/collors.jpg">
            </div>
            <div class="selected">
                <img src="Img/intro.jpg">
            </div>
            <div class="next">
                <a href="https://www.w3schools.com"><img src="Img/sharpness.png"></a>
            </div>

        </div>

    </main>
    <script src="~/Scripts/start.js"></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

</body>
</html>